<div class="card card-lg ">
    <div class="card-body">
        <!-- 卡片边缘缎带 -->
        <div class="ribbon ribbon-top ribbon-left bg-azure">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path>
            </svg>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dirresult' sid  %}">
                    <span class="nav-link-title">目录扫描</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'portresult' sid %}">
                    <span class="nav-link-title">端口扫描</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'cmsresult' sid %}">
                    <span class="nav-link-title">指纹识别</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'subresult' sid %}">
                    <span class="nav-link-title">子域名收集</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'httpsresult' sid %}">
                    <span class="nav-link-title">HTTPS证书</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'wafresult' sid %}">
                    <span class="nav-link-title">WAF识别</span>
                </a>
            </li>

        </ul>

    </div>
</div>